### pandas: Введение [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

> **Вы не можете использовать pandas в этой задаче # 1.**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в список списков. Пожалуйста, напишите функцию load_data (имя файла), которая будет загружать данные из csv-файла в список списков. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:**

* В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [318]:
import numpy as np

In [319]:
import os

In [320]:
#Начало вашего кода
import csv

def load_data(filename=None):
    if os.path.exists(filename):
        data_lst = []
        with open(filename) as f:
            csv_data = csv.reader(f)
            
            
            

            for row in csv_data:
                
                data_lst.append(row)
                
            header = data_lst[0]
            data = data_lst[1:]
             
                
            return header,data
        
       
    else:
        print('./SocialNetworkAds.csv does not exist')
        header = None
        data  = None
        
        return header,data
        
#Конец вашего кода

In [321]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [322]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [323]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [324]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

In [325]:
for i in range(5):
    print(data[i])

['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']

### Ожидаемый результат:

```
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
```

2. Пожалуйста, реализуйте функцию ```data2dataframe(header,data)```, которая будет возвращать ```pandas.DataFrame```, используя входные аргументы: ```header``` и ```data```. Кроме того, если ```header``` или/и ```data``` не предоставлены, функция должна вернуть сообщение об ошибке.

In [326]:
#Начало вашего кода
def data2dataframe(header=None,data=None):
    if header and data:
        return pd.DataFrame(data,columns = header)
    else:
        print('Error: input arguments are not provided properly data2dataframe(header, data)')
#Конец вашего кода

In [327]:
df_data0 = data2dataframe()
df_data1 = data2dataframe(header=header)
df_data2 = data2dataframe(data=data)
df_data = data2dataframe(header=header,data=data)

Error: input arguments are not provided properly data2dataframe(header, data)
Error: input arguments are not provided properly data2dataframe(header, data)
Error: input arguments are not provided properly data2dataframe(header, data)

### Ожидаемый результат:

```
Error: input arguments are not provided properly data2dataframe(header, data)
Error: input arguments are not provided properly data2dataframe(header, data)
Error: input arguments are not provided properly data2dataframe(header, data)
```

In [328]:
print(df_data0)
print(df_data1)
print(df_data2)
print(df_data)

None
None
None
      User ID  Gender Age EstimatedSalary Purchased
0    15624510    Male  19           19000         0
1    15810944    Male  35           20000         0
2    15668575  Female  26           43000         0
3    15603246  Female  27           57000         0
4    15804002    Male  19           76000         0
..        ...     ...  ..             ...       ...
395  15691863  Female  46           41000         1
396  15706071    Male  51           23000         1
397  15654296  Female  50           20000         1
398  15755018    Male  36           33000         0
399  15594041  Female  49           36000         1

[400 rows x 5 columns]

### Ожидаемый результат:

```
None
None
None
      User ID  Gender Age EstimatedSalary Purchased
0    15624510    Male  19           19000         0
1    15810944    Male  35           20000         0
2    15668575  Female  26           43000         0
3    15603246  Female  27           57000         0
4    15804002    Male  19           76000         0
..        ...     ...  ..             ...       ...
395  15691863  Female  46           41000         1
396  15706071    Male  51           23000         1
397  15654296  Female  50           20000         1
398  15755018    Male  36           33000         0
399  15594041  Female  49           36000         1

[400 rows x 5 columns]
```

3. Вы должны реализовать функцию ```extract(data, columns)```. которая будет извлекать столбцы из ```data```. Входной аргументы:
    * ```data``` должен быть типа pandas.DataFrame
    * ```columns``` должен быть списком с именами целевых столбцов, которые будут извлечены.
    
    **Во всех остальных случаях функция возвращает сообщение об ошибке.**

Если имя столбца, указанное в аргументе ```columns```, не найдено в ```data```, его не следует включать в результат.

In [329]:
# l = [1,2,3,4,54]
# if type(l) == list:
#     print('True')

True

In [348]:
#Начало вашего кода
def extract(data=None,columns=None):
    lst=[]
    if data is not None and columns is not None and type(columns) == list:
        
        for i in columns:
            if i in header:
                lst.append(i)
    
    
        return data[lst]
                
   
    
    else:
        print('Error: input arguments are not provided properly extract(data, columns)')
        
print(type(df_data))
#Конец вашего кода

<class 'pandas.core.frame.DataFrame'>

In [349]:
df_target0=extract()
df_target1=extract(data=df_data)
df_target2=extract(columns=["User ID"])
df_target3=extract(data=df_data, columns=["User ID"])
df_target4=extract(data=df_data, columns=["User ID","Purchased"])
df_target5=extract(data=df_data, columns=["gender","Purchased"])
df_target6=extract(columns="User ID",data=df_data,)

Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)
Error: input arguments are not provided properly extract(data, columns)
```

In [332]:
print(df_target0)
print(df_target1)
print(df_target2)
print(df_target3)
print(df_target4)
print(df_target5)
print(df_target6)

None
None
None
      User ID
0    15624510
1    15810944
2    15668575
3    15603246
4    15804002
..        ...
395  15691863
396  15706071
397  15654296
398  15755018
399  15594041

[400 rows x 1 columns]
      User ID Purchased
0    15624510         0
1    15810944         0
2    15668575         0
3    15603246         0
4    15804002         0
..        ...       ...
395  15691863         1
396  15706071         1
397  15654296         1
398  15755018         0
399  15594041         1

[400 rows x 2 columns]
    Purchased
0           0
1           0
2           0
3           0
4           0
..        ...
395         1
396         1
397         1
398         0
399         1

[400 rows x 1 columns]
None

### Ожидаемый результат:

```
None
None
None
      User ID
0    15624510
1    15810944
2    15668575
3    15603246
4    15804002
..        ...
395  15691863
396  15706071
397  15654296
398  15755018
399  15594041

[400 rows x 1 columns]
      User ID Purchased
0    15624510         0
1    15810944         0
2    15668575         0
3    15603246         0
4    15804002         0
..        ...       ...
395  15691863         1
396  15706071         1
397  15654296         1
398  15755018         0
399  15594041         1

[400 rows x 2 columns]
    Purchased
0           0
1           0
2           0
3           0
4           0
..        ...
395         1
396         1
397         1
398         0
399         1

[400 rows x 1 columns]
```

4. Вы должны реализовать функцию ```slice_data(data, rows, cols)```. которая будет срезать целевые строки и столбцы из ```data```. Входной аргументы:
    * ```data``` должен быть типа pandas.DataFrame
    * ```rows``` должен быть кортежем с индексами начальных и конечных строк.
    * ```cols``` должен быть кортежем с индексами начальных и конечных строк.
    
    **Во всех остальных случаях функция возвращает сообщение об ошибке.**

In [333]:
# df_data.iloc[0   :    100,     0   :    2]

    User ID Gender
0  15624510   Male
1  15810944   Male

In [369]:
# rows=(0,100)
# [1]

[1]

In [370]:
#Начало вашего кода
def slice_data(data=None, rows=None, cols=None):
    if data is not None and rows is not None and cols is not None:
        
        return data.iloc[rows[0]:   rows[1] , cols[0]:cols[1]]
    
    
    else:
        print('Error: input arguments are not provided properly slice_data(data,rows,cols)')
#Конец вашего кода

In [371]:
df_slice0=slice_data()
df_slice1=slice_data(data=df_data)
df_slice2=slice_data(rows=(0,100),cols=(0,2))
df_slice3=slice_data(data=df_data, rows=(0,100),cols=(0,2))

Error: input arguments are not provided properly slice_data(data,rows,cols)
Error: input arguments are not provided properly slice_data(data,rows,cols)
Error: input arguments are not provided properly slice_data(data,rows,cols)

### Ожидаемый результат:

```
Error: input arguments are not provided properly slice_data(data,rows,cols)
Error: input arguments are not provided properly slice_data(data,rows,cols)
Error: input arguments are not provided properly slice_data(data,rows,cols)
```

In [372]:
print(df_slice0)
print(df_slice1)
print(df_slice2)
print(df_slice3)

None
None
None
     User ID  Gender
0   15624510    Male
1   15810944    Male
2   15668575  Female
3   15603246  Female
4   15804002    Male
..       ...     ...
95  15709441  Female
96  15710257  Female
97  15582492    Male
98  15575694    Male
99  15756820  Female

[100 rows x 2 columns]

### Ожидаемый результат:

```
None
None
None
     User ID  Gender
0   15624510    Male
1   15810944    Male
2   15668575  Female
3   15603246  Female
4   15804002    Male
..       ...     ...
95  15709441  Female
96  15710257  Female
97  15582492    Male
98  15575694    Male
99  15756820  Female

[100 rows x 2 columns]
```

# Прекрасная работа!