### pandas: Series vs DataFrame [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в ```DataFrame```. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:**

* В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [20]:
import os

In [21]:
import pandas as pd

In [22]:
import numpy as np

In [23]:
#Начало вашего кода
import csv

def load_data(filename=None):
    if os.path.exists(filename):
        data_lst = []
        with open(filename) as f:
            csv_data = csv.reader(f)
            
            
            

            for row in csv_data:
                
                data_lst.append(row)
              
            header = data_lst[0]
            data = data_lst[1:]
             
                
            return header,data
        
       
    else:
        print('./SocialNetworkAds.csv does not exist')
        header = None
        data  = None
        
        return header,data
#Конец вашего кода

In [24]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [25]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [26]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [27]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

**Распечатайте первые и последние 5 строк pandas.DataFrame:**

In [28]:
#Начало вашего кода
df_data = pd.DataFrame(data,columns=header)
print(df_data[0:5])
a=df_data[-5:]
print(a)
#Конец вашего кода

    User ID  Gender Age EstimatedSalary Purchased
0  15624510    Male  19           19000         0
1  15810944    Male  35           20000         0
2  15668575  Female  26           43000         0
3  15603246  Female  27           57000         0
4  15804002    Male  19           76000         0
      User ID  Gender Age EstimatedSalary Purchased
395  15691863  Female  46           41000         1
396  15706071    Male  51           23000         1
397  15654296  Female  50           20000         1
398  15755018    Male  36           33000         0
399  15594041  Female  49           36000         1

### Ожидаемый результат:

```
User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1
```

2. Пожалуйста, реализуйте функцию ```frequency(data,columns)```, которая делает то же самое, что и ```pandas.Series.value_counts()```, за исключением того, что не использует сам этот метод, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы:
    * ```data``` должен быть типа pandas.DataFrame
    * ```columns``` должен быть списком список с именами целевых столбцов

Кроме того, 
* если ```data``` не предоставлены, функция должна вернуть сообщение об ошибке.
* если ```columns``` не предоставлен, функция выполняет операцию для всех столбцов ```data```.

In [29]:
# # Ordering a series
# ser_data = {1: 10, 2: 20, 4: 15, 6: 25,8: 5}

# # Define the new order of the series
# ind = [1, 2, 4, 8, 6]

# # Create the series
# ser = pd.Series(ser_data, index=ind)
# ser

In [30]:
# a = {'Female': 204, 'Male': 196}
# df_a = pd.DataFrame(a,index=[0])
# print(df_a)

In [12]:
# a = {'Female': 204, 'Male': 196}
# df_a = pd.DataFrame(a,index=[0])
# #print(df_a,'\n')
 
# print(df_a.loc[0].to_string(name=False, dtype=True))

In [13]:
# my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
#     # Creating an empty dictionary
# freq = {}
# for item in my_list:
#     if (item in freq):
#         freq[item] += 1
#     else:
#         freq[item] = 1
 
# for key, value in freq.items():
#     print ("% d  % d"%(key, value))

In [14]:
# for i in columns:
            
#     if i not in counter:
#         counter[letter] = 0
#         counter[letter] += 1

In [15]:
#Начало вашего кода
# def frequency(data=None,columns=None):
#     #data = pd.DataFrame(data)
#     if data is not None and columns is not None:
   
#         data_pd = pd.DataFrame(data,columns=header)

#         #counter = {}
#         lst_str = []
#         lst_int = []
        
#         for i in range(len(columns)):
#             if col in header:
#                 #if col=='EstimatedSalary':
#                     for i in data_pd[col]:
#                         lst_int.append(i)
                    
#                 else: 
#                     for i in data_pd[col]:
#                         lst_str.append(i)
            
#         key_str = []    
#         x_str = pd.Series(lst_str)
#         x_str_1 = dict(x_str.value_counts())
#         for key, value in x_str_1.items() :
#             key_str.append(key)
#             seres_str = pd.Series(x_str_1, index=key_str)
        
      
#         key_int = []
        
#         x_int = pd.Series(lst_int)
#         x_int_1 = dict(x_int.value_counts())
        
#         for key, value in x_int_1.items() :
#             key_int.append(key)
        
#             seres_int = pd.Series(x_int_1, index=key_int)
        
        
#         return pd.Series([seres_str, seres_int], index = columns)

#     else:
#         return 'Error: input arguments are not provided properly frequency(data, columns)'
#Конец вашего кода

In [55]:
#Начало вашего кода


def frequency(data=None, columns=None):
    #data = pd.DataFrame(data)
    
    if columns is None:
        
            columns = header
            
    if data is None or str() in columns:
        
        return 'Error: input arguments are not provided properly frequency(data, columns)'

    else:
        
        data_pd = pd.DataFrame(data,columns=header)
        

        d = {}
        for idx in range(len(columns)):
            d2 = {}

            if columns[idx] in header:

                for i in data_pd[columns[idx]]:

                    if i not in d2:
                        d2[i] = 1

                    else:
                        d2[i] = d2[i] + 1

                    ser = pd.Series(d2)

            d[columns[idx]] = ser

        return d

#Конец вашего кода

In [56]:
res=frequency(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency(data, columns)
```

In [57]:
res=frequency(data=data,columns=["Gender","EstimatedSalary"])

for key, sr in res.items():
      print(f"Value counts for {key} column:")
      print(sr)
      print("-----------")

Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
```

In [ ]:
res=frequency(data=data)

for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

### Ожидаемый результат:

```
Value counts for User ID column:
15624510    1
15810944    1
15668575    1
15603246    1
15804002    1
           ..
15691863    1
15706071    1
15654296    1
15755018    1
15594041    1
Length: 400, dtype: int64
-----------
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for Age column:
19     7
35    32
26    16
27    13
32     9
25     6
20     7
18     5
29    10
47    14
45     7
46    12
48    14
49    10
31    11
21     4
28    12
33     9
30    11
23     6
24     9
22     5
59     7
34     6
39    15
38    13
37    20
42    16
40    15
36    12
41    16
58     6
55     3
52     6
60     7
56     3
53     5
50     4
51     3
57     5
44     2
43     3
54     4
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
dtype: int64
-----------
```

3. Пожалуйста, реализуйте функцию ```frequency_easy(data,columns)```, которая делает то же самое, что ```frequency(data,columns)```, за исключением того, что вы можете использовать ```pandas.Series.value_counts()```, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы: 
    * data должен быть типа pandas.DataFrame
    * columns должен быть списком список с именами целевых столбцов

Кроме того,
* если data не предоставлены, функция должна вернуть сообщение об ошибке.
* если columns не предоставлен, функция выполняет операцию для всех столбцов data.

In [68]:
#Начало вашего кода

def frequency_easy(data=None, columns=None):
    #data = pd.DataFrame(data)
    
    if columns is None:
        
            columns = header
            
    if data is None or str() in columns:
        
        return 'Error: input arguments are not provided properly frequency(data, columns)'

    else:
        
        data_pd = pd.DataFrame(data,columns=header)

        d = {}
        for idx in range(len(columns)):
            #d2 = {}
            dict_data = []
            if columns[idx] in header:

                for i in data_pd[columns[idx]]:
                    
                    dict_data.append(i)
                    #print(i)
                    key_str = []    
                    x_str = pd.Series(dict_data)
                    x_str_1 = dict(x_str.value_counts())
                    for key, value in x_str_1.items() :
                        key_str.append(key)
                        seres_str = pd.Series(x_str_1, index=key_str)
                    
                        

#                     if i not in d2:
#                         d2[i] = 1

#                     else:
#                         d2[i] = d2[i] + 1
                        
                   

                    ser = pd.Series(seres_str)
            

            d[columns[idx]] = ser
            
        return d
    

                    
                    
                #sr = pd.Series(columns[idx])
#Конец вашего кода

In [69]:
res=frequency_easy(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency_easy(data, columns)
```

In [71]:
res=frequency_easy(data=data,columns=["Gender","Age"])
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for Gender column:
Female    204
Male      196
dtype: int64
-----------
Value counts for Age column:
35    32
37    20
26    16
41    16
42    16
39    15
40    15
48    14
47    14
38    13
27    13
36    12
28    12
46    12
31    11
30    11
29    10
49    10
24     9
33     9
32     9
59     7
19     7
60     7
20     7
45     7
23     6
58     6
25     6
52     6
34     6
18     5
57     5
22     5
53     5
50     4
54     4
21     4
55     3
43     3
56     3
51     3
44     2
dtype: int64
-----------

In [72]:
res=frequency_easy(data=data)
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for User ID column:
15800890    1
15750839    1
15685536    1
15753861    1
15750447    1
           ..
15699619    1
15783029    1
15655123    1
15809347    1
15636023    1
Length: 400, dtype: int64
-----------
Value counts for Gender column:
Female    204
Male      196
dtype: int64
-----------
Value counts for Age column:
35    32
37    20
26    16
41    16
42    16
39    15
40    15
48    14
47    14
38    13
27    13
36    12
28    12
46    12
31    11
30    11
29    10
49    10
24     9
33     9
32     9
59     7
19     7
60     7
20     7
45     7
23     6
58     6
25     6
52     6
34     6
18     5
57     5
22     5
53     5
50     4
54     4
21     4
55     3
43     3
56     3
51     3
44     2
dtype: int64
-----------
Value counts for EstimatedSalary column:
72000     12
80000     11
79000     10
75000      9
71000      9
          ..
106000     1
102000     1
93000      1
91000      1
105000     1
Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
41    16
42    16
26    16
39    15
40    15
47    14
48    14
38    13
27    13
28    12
46    12
36    12
31    11
30    11
29    10
49    10
32     9
33     9
24     9
20     7
19     7
60     7
59     7
45     7
25     6
34     6
58     6
52     6
23     6
57     5
22     5
18     5
53     5
21     4
50     4
54     4
55     3
43     3
56     3
51     3
44     2
Name: Age, dtype: int64
-----------
```

# Прекрасная работа!